@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Baskervville+SC&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

header a{
    font-family:"Abel", sans-serif;
    text-decoration: none;
    color: black;
}

header p span{
 font-weight: 700;
}
header nav ul{
    display: flex;
    justify-content: right;
}
header nav{
    padding: 2vw 3vw 2vw 2vw
}
header ul li a.atual{
    font-weight: 800;
    color: black;
}
header ul li a{
    color: gray;
}
header ul li{
    padding: 0 2vw 0 2vw;
}
section.Banner div{
    padding: 3rem 3rem 3rem 3rem;
}
section.Banner h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-size: 3rem;
    padding: 2rem 3rem 0 0;
}
section.Banner h1 span {
    color: rgba(71, 193, 131, 1);
}
section.Banner p{
    font-family:"Abel", sans-serif;
    font-size: 1.5rem;
}
section.Banner button{
    color: white;
    background-color: black;
    border-style: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1.8rem 3rem 1.8rem 3rem;
}
